@{
    ViewBag.Title = "Xác Nhận Thanh Toán";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Payment Confirmation</h2>

<p>@ViewBag.Message</p>

<a href="@Url.Action("MuaVip", "MuaVip")">Back to Subscription Plans</a>