<footer>
    <!--Phần cuối của trang web-->
    <div class="contact-us">
        <!--Số điện thoại liên hệ, email, vị trí, zalo-->
        <div class="contact location">
            <!--Vị trí -->
            <div>
                <a href="https://goo.gl/maps/rEGxUhB2HGWkffSXA" target="_blank">
                    <img src="~/Images/location_pin_icon.png" alt="">
                </a>
            </div>
            <p>
                <a href="https://goo.gl/maps/rEGxUhB2HGWkffSXA" target="_blank">
                    06 Trần Văn Ơn, Phú Hoà, Thủ Dầu Một, Bình Dương, Việt Nam
                </a>
            </p>
        </div>

        <div class="contact phone-number">
            <!--Số điện thoại hỗ trợ-->
            <div><a><img src="~/Images/cellphone_icon.png" alt=""></a></div>
            <p><a href="">02743822518</a></p>
        </div>

        <div class="contact email-support">
            <!--Email liên hệ-->
            <div><a><img src="~/Images/support_email_icon.png" alt=""></a></div>
            <p><a href="">Likemovies@gmail.com</a></p>
        </div>
    </div>
    <div class="about-us">
        <div class="about introduce">
            <div><img src="~/Images/introduce_icon.png" alt=""></div>
            <p><a href="">Giới thiệu</a></p>
        </div> <!--Giới Thiệu-->

        <div class="about dksd">
            <div><img src="~/Images/chinh_sach_bao_mat_icon.png" alt=""></div>
            <p><a href="">Điều khoản sử dụng</a></p>
        </div> <!--Điều khoản sử dụng-->

        <div class="about csbm">
            <div><img src="~/Images/security_icon.png" alt=""></div>
            <p><a href="">Chính sách bảo mật</a></p>
        </div> <!--Chính sách bảo mật-->

        <div class="icon-social">
            <div class="social-icon-contact"><a href=""><img src="~/Images/Contact_icon/facebook-app-symbol.png" alt=""></a></div>
            <div class="social-icon-contact"><a href=""><img src="~/Images/Contact_icon/twitter.png" alt=""></a></div>
            <div class="social-icon-contact"><a href=""><img src="~/Images/Contact_icon/instagram.png" alt=""></a></div>
            <div class="social-icon-contact"><a href=""><img src="~/Images/Contact_icon/snapchat.png" alt=""></a></div>
        </div> <!-- Liên kế đến trang mạng xã hội-->

    </div>
</footer>
